*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: rgb(61, 59, 59);
}
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    margin:auto;
}

canvas{
    max-width: 85%;
}
